# My Error pages
ErrorDocument 404 /MonoCMS/errors.php?e=404
ErrorDocument 403 /MonoCMS/errors.php?e=403


# BEGIN WordPress
# Директивы (строки) между `BEGIN WordPress` и `END WordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.

#RewriteEngine On
#RewriteBase /MonoCMS/

#RewriteCond %{REQUEST_URI} ^/404/$
#RewriteRule ^(.*)$ /pages/errors/404.php [L]

#RewriteCond %{REQUEST_URI} ^/500/$
#RewriteRule ^(.*)$ /pages/errors/500.php [L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^index\.php$ - [L]
#RewriteRule . /MonoCMS/index.php [L]

# END WordPress