.page {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}
.page > div {
    margin: 25px;
}
.page_title {
    line-height: 50px;
    height: 50px;
    min-width: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 28px;
    font-weight: 300;
    display: inline-block;
}
.page_block_radius {
    border-radius: 10px;
}
.page_block_shadow {
    box-shadow: 0px 0px 20px 10px #e8e8e8;
}